*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}


.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}


p{
  color: black;
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: .05rem;
}


.section-title{
  font-size: 4rem;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: .2rem;
  text-align: center;
}


.section-title span{
  color: crimson;
}



.cta {
  display: inline-block;
  padding: 10px 30px;
  color: crimson;
  background-color: transparent;
  border: 2px solid crimson;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-top: 30px;
  transition: .3s ease;
  transition-property: background-color, color;
  cursor: pointer;
}



.cta:hover{
  color: white;
  background-color: crimson;
}

.brand h1{
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
}

.brand span{
  color: crimson;
}

.brand1 h1{
  color: white;
}


/* header Section */

#header{
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}

#header .container{
  min-height: 8vh;
  background-color: rgba(31, 30, 30, 0.24);
  transition: .3s ease background-color;
}


#header .nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 30px;
}



#header .nav-list ul{
  list-style: none;
  position: absolute;
  background-color: rgb(31, 30, 30);
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  transition: .4s ease left;
}


#header .nav-list ul.active{
  left: 0;
}


#header .nav-list ul a{
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: .2rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 20px;
  display: block;
}


#header .nav-list ul a::after{
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: rgba(240, 240, 255, 0.021);
  font-size: 10rem;
  letter-spacing: 50px;
  z-index: -1;
  transition: .3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after{
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
}


#header .nav-list ul li:hover a {
  color: crimson;
}


#header .hamburger{
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 3px solid white;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  transform: scale(.8);
  margin-right: 20px;
}



#header .hamburger::after{
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid white;
  animation: hamburger_pulse 1s ease infinite;
}


#header .hamburger .bar{
  height: 2px;
  width: 30px;
  position: relative;
  background-color: white;
  z-index: -1;
}



#header .hamburger .bar::after,
#header .hamburger .bar::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: white;
  transition: .3s ease;
  transition-property: top, bottom;
}

#header .hamburger .bar::after{
  top: 8px;
}

#header .hamburger .bar::before{
  bottom: 8px;
}

#header .hamburger.active .bar::before{  
  bottom: 0;
}

#header .hamburger.active .bar::after{
  top: 0;
}



/* End header Section */




/* First Section */
#first {
  background-image: url(img/bg-wallpaper.jpg);
  background-position: top center;
  background-size: cover;
  position: relative;
  z-index: 1;
}



#first::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: .4;
  z-index: -1;
}

#first .container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: flex-start;
}

#first h1{
  display: block;
  width: fit-content;
  font-size: 4rem;
  position: relative;
  color: transparent;
  animation: text_reveal .5s ease forwards;
  animation-delay: 1s;
}



#first h1:nth-child(1) {
  animation-delay: 1s;
}

#first h1:nth-child(2) {
  animation: text_reveal_name .2s ease forwards;
  animation-delay: 2s;
}

#first h1:nth-child(3) {
  animation-delay: 3s;
}


#first h1 span{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: crimson;
  animation: text_reveal_box 1s ease  forwards;
  animation-delay: .3s;
}


#first h1:nth-child(1) span{
  animation-delay: .5s;
}

#first h1:nth-child(2) span{
  animation-delay: 1.5s;
}

#first h1:nth-child(3) span{
  animation-delay: 2.5s;
}



/* End First Section */


/* First Section */
#second .container{
  flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 100px 0;
}


#second .service-top{
  max-width: 500px;
  margin: 0 auto;
}


.section-title{
  font-size: 4rem;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: .2rem;
  text-align: center;
}

#second .service-title span{
  color: crimson;
}


#second .service-top p{
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: .05rem;
}


#second .service-bottom{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}


#second .service-item{
  flex-basis: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px;
  border-radius: 10px;
  background-image: url(img/netcafe.jpg);
  background-size: cover;
  margin: 10px 5%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

#second .service-item::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: .7;
  z-index: -1;
}


#second .service-item h2{
  color: white;
  font-size: 2rem;
  margin-bottom: 10px;
  text-transform: uppercase;
}


#second .service-item p{
  color: white;
  text-align: left;
  font-size: 1.4rem;
  line-height: 1.9rem;
}

#second .service-bottom .icon{
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
}

#second .service-bottom .icon img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* End First Section */



/* Project Section */

#third .container{
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}


#third .projects-header h1{
  margin-bottom: 50px;
}


#third .all-projects-{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#third .project-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
}

#third .project-info{
  padding: 30px;
  flex-basis: 50%;
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  color: white;
}

#third .project-info h1{
  font-size: 4rem;
  font-weight: 500;
}

#third .project-info h2{
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 10px;
}

#third .project-info p{
  color: white;
}



#third .project-img{
  flex-basis: 50%;
  height: 300px;
  overflow: hidden;
  position: relative;
}

#third .project-img::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: .4;
}

#third .project-img img{
  transition: .3s ease transform;
}
#third .project-item:hover .project-img img{
  transform: scale(1.1);
}

/* End Project Section */



/* About me Section */

#fourth .container{
  flex-direction: column-reverse;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}

#fourth .col-left{
  width: 250px;
  height: 360px;
}


#fourth .col-right{
  width: 100%;
}

#fourth .col-right h2{
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: .2rem;
  margin-bottom: 10px;
}

#fourth .col-right p{
  margin-bottom: 20px;
}



#fourth .col-right .cta{
  margin-bottom: 50px;
  padding: 10px 20px;
  font-size: 2rem;
}


#fourth .col-left .about-img{
  position: relative;
  border: 10px solid white;
  height: 100%;
  width: 100%;
}

#fourth .col-left .about-img::after{
  content: '';
  position: absolute;
  left: -33px;
  top: 19px;
  height: 98%;
  width: 98%;
  border: 7px solid crimson;
  z-index: -1;
}

/* End About me Section */


/* Contact Section */

#fifth .container{
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

#fifth .contact-items{
  width: 400px;
}

#fifth .contact-item{
  width: 80%;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  padding: 30px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 0 #0000002c;
  transition: .3s ease box-shadow;
}

#fifth .contact-item:hover{
  box-shadow: 0px 0px 5px 0 #0000002c;
}


#fifth .icon{
  width: 70px;
  margin: 0 auto;
  margin-bottom: 10px;
}


#fifth .contact-info h1{
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 5px;
}


#fifth .contact-info h2{
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 500;
}

/* End Contact Section */



/* Footer Section */

#footer{
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

#footer .container{
  min-height: 200px;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 10px;
}


#footer h2{
  color: white;
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: .1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

#footer .social-icon{
  display: flex;
  margin-bottom: 30px;
}

#footer .social-item{
  height: 50px;
  width: 50px;
  margin: 0 5px;
}



#footer .social-item img{
  filter: grayscale(1);
  transition: .3s ease filter;
}

#footer .social-item:hover img{
  filter: grayscale(0);
}

#footer p{
  color: white;
  font-size: 1.3rem;
}


/* End Footer Section */


/* keyframes */

@keyframes hamburger_pulse{
  0%{
    opacity: 1;
    transform: scale(1);
  }
  100%{
    opacity: 0;
    transform: scale(1.3);
  }
}




@keyframes text_reveal_box{
  50%{
    width: 100%;
    left: 0;
  }

  100%{
    width: 0;
    left: 100%;
  }
}


@keyframes text_reveal{
  100%{
    color: white;
  }
}



@keyframes text_reveal_name{
  100%{
    color: crimson;
  }
}
/* End Keyframes */



/* Media Query for tablet */

@media only screen and (min-width: 768px){
  .cta{
    font-size: 2.5rem;
    padding: 20px 60px;
  }

  .section-title{
    font-size: 7rem;
  }

  /* first Section */

  #first h1{
    font-size: 7rem;
  }

  /* End first Section */


  /* Second section */

  #second .service-bottom .service-item{
    flex-basis: 45%;
    margin: 2.5%;
  }

  /* End Second section */


  /* Third Section */

  #third .project-item{
    height: 400px;
    margin: 0;
    width: 100%;
    border-radius: 0;
  }


  #third .project-item{
    flex-direction: row;
  }


  #third .project-item:nth-child(even) {
    flex-direction: row-reverse;
  }

  #third .all-projects .project-info{
    height: 100%;
  }


  #third .all-projects .project-img{
    height: 100%;
  }

  /* End Third Section */

  /* Fourth Section */

  #fourth .container{
    flex-direction: row;
  }

  #fourth .col-left{
    width: 600px;
    height: 400px;
    padding-left: 60px;
  }

  #fourth .container .col-left .about-img::after{
    left: -45px;
    top: 34px;
    height: 98%;
    width: 98%;
    border: 10px solid crimson;
  }

  #fourth .col-right{
    text-align: left;
    padding: 30px;
  }

  #fourth .col-right h1{
    text-align: left;
  }
  /* End Fourth Section */



  /* Contact */

  #fifth .container{
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
    justify-content: center;
    min-height: 20vh;
  }

  #fifth .contact-items{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
  }

  #fifth .contact-item{
    width: 30%;
    margin: 0;
    flex-direction: row;
  }


  #fifth .contact-item .icon{
    height: 100px;
    width: 100px;
  }

  #fifth .contact-item .icon img{
    object-fit: contain;
  }



  #fifth .contact-item .contact-info{
    width: 100%;
    text-align: left;
    padding-left: 20px;
  }

  /* End Contact */

}

/* End Media Query for tablet */



/* Media Query for desktop */

@media only screen and (min-width: 1200px){

/* Header */

#header .hamburger{
  display: none;
}

#header .nav-list ul{
  position: initial;
  display: block;
  height: auto;
  width: fit-content;
  background-color: transparent;
}

#header .nav-list ul li{
  display: inline-block;
}

#header .nav-list ul li a{
  font-size: 1.8rem;
}


#header .nav-list ul a::after{
  display: none;
}

/* End Header */


  #second .service-bottom .service-item{
    flex: 22%;
    margin: 1.5%;
  }
}

/* End Media Query for desktop */
